@charset "UTF-8";
/*
======================================================================
Project Name    : My Portfolio
File Name       : base.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _variables.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/** =========
  Font
========= **/
/** =========
  Colors
========= **/
/** =========
  Size
========= **/
/** =========
  Media Queries
========= **/
/* ==============
    Base styles
  ============= */
body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: #55747C;
}

object {
  pointer-events: none;
}

ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

ol {
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: 0.5;
}
