@charset "UTF-8";
/*
======================================================================
Project Name    : My Portfolio
File Name       : common.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _variables.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/** =========
  Font
========= **/
/** =========
  Colors
========= **/
/** =========
  Size
========= **/
/** =========
  Media Queries
========= **/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _mixin.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _variables.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/** =========
  Font
========= **/
/** =========
  Colors
========= **/
/** =========
  Size
========= **/
/** =========
  Media Queries
========= **/
/* ==============
    Link styles
  ============= */
/* ==============
   Media queries
  ============= */
/* ==============
   Common styles
  ============= */
#works,
#skills,
#resources,
#profile,
#contact {
  padding-top: 55px;
  padding-bottom: 55px;
}

@media screen and (max-width: 600px) {
  #works,
  #skills,
  #resources,
  #profile,
  #contact {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.container {
  max-width: 1020px;
}

@media screen and (max-width: 600px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.sectionTitle {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5%;
}

@media screen and (max-width: 600px) {
  .sectionTitle {
    font-size: 2rem;
  }
}

.sectionTitleC {
  color: #1DA9A2;
}

.icons li {
  display: inline-block;
  margin-right: 10px;
  font-size: 0;
}

.icons li a {
  display: block;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  color: #fff;
  background-color: #1DA9A2;
  border-radius: 5px;
  font-size: 1.9rem;
  line-height: 40px;
}

.icons li a:hover {
  transition: all 0.5s;
  color: #1DA9A2;
  background-color: #fff;
}

.icons li:last-child {
  margin-right: 0;
}

.tags {
  text-align: left;
}

.tags .tagItem {
  display: inline-block;
  color: #E1E2E7;
  background-color: #1F2029;
  border: 3px solid #1DA9A2;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0 5px 8px 0;
}

.thumbnail {
  text-align: center;
  margin-bottom: 30px;
}

.thumbnail .thumbnailImg {
  margin-bottom: 20px;
}

.thumbnail .thumbnailImg img {
  width: 100%;
}
