/* ==============
      Header
  ============= */
#header {
  position: relative;
}

#header .container {
  min-height: 300px;
}

#header .container #heroText {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  text-align: center;
}

/* ==============
      Works
  ============= */
