@charset "UTF-8";
/*
======================================================================
Project Name    : My Portfolio
File Name       : style.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _variables.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/** =========
  Font
========= **/
/** =========
  Colors
========= **/
/** =========
  Size
========= **/
/** =========
  Media Queries
========= **/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _mixin.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _variables.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/** =========
  Font
========= **/
/** =========
  Colors
========= **/
/** =========
  Size
========= **/
/** =========
  Media Queries
========= **/
/* ==============
    Link styles
  ============= */
/* ==============
   Media queries
  ============= */
/* ==============
      Header
  ============= */
/*
======================================================================
Project Name    : My Portfolio
File Name       : _nav.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _variables.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/** =========
  Font
========= **/
/** =========
  Colors
========= **/
/** =========
  Size
========= **/
/** =========
  Media Queries
========= **/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _mixin.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _variables.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/** =========
  Font
========= **/
/** =========
  Colors
========= **/
/** =========
  Size
========= **/
/** =========
  Media Queries
========= **/
/* ==============
    Link styles
  ============= */
/* ==============
   Media queries
  ============= */
#nav.navScroll {
  background-color: #1F2029;
  transition: background-color 0.3s linear;
  top: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: padding 0.5s;
}

#nav.navScroll #logoImg {
  transform: scale(0.7, 0.7);
  transition: 0.3s;
}

#nav #navbarNav .nav-link {
  color: #fff;
  font-size: 1.5rem;
}

#nav .isOpen .navContents {
  display: block !important;
  float: none;
  padding-top: 66px;
}

#nav .isOpen .navContents li {
  display: block;
  margin-right: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}

#nav .isOpen .navContents li:last-child {
  border-bottom: none;
}

#nav .isOpen .navContents li a {
  display: block;
  width: 100%;
}

#nav .isOpen .navContents li a:hover {
  opacity: 0.7;
}

#header {
  background: url("../img/header-bg.jpg") top center no-repeat;
  background-size: cover;
  padding: 20% 0 20%;
  color: #fff;
}

#header .container #heroText {
  margin: auto;
  width: 100%;
  text-align: center;
}

#header .container #heroText .title {
  font-size: 5rem;
  margin: 0;
  line-height: 1;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  #header .container #heroText .title {
    font-size: 2.5rem;
  }
}

#header .container #heroText .subTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  #header .container #heroText .subTitle {
    font-size: 1.4rem;
  }
}

/* ==============
      Works
  ============= */
/*
======================================================================
Project Name    : My Portfolio
File Name       : _modal.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/**
  Modal Overlay Effect for "#works"
**/
#modalContainer {
  display: none;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  background: rgba(0, 0, 0, 0.9);
  overflow-y: scroll;
}

.modalBody {
  font-size: 40px;
  color: #eee;
  vertical-align: middle;
  font-weight: bold;
}

.modalCloseBtnArea {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.modalCloseBtn {
  display: block;
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  background-color: #fff;
  transform: rotate(45deg);
}

.modalCloseBtn:before {
  display: block;
  content: "";
  z-index: 1052;
  width: 1px;
  height: 75px;
  background-color: #fff;
  transform: rotate(90deg);
}

.modalContainer {
  width: 80%;
  margin: 0 auto;
}

.appBasicInfo {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 50px;
}

.infoText {
  margin: 0;
  line-height: 2rem;
}

.screenshot {
  margin-bottom: 50px;
}

.screenshot img {
  max-width: 100%;
}

.appDescriptionText {
  font-size: 1rem;
  font-weight: normal;
}

.appDescriptionText .link {
  display: block;
}

.appDescriptionText .link .iTunesLink {
  text-decoration: none;
  color: #0275d8;
}

.appProductionDetail {
  font-size: 1rem;
  font-weight: normal;
}

.modalCloseBtnBottom {
  color: #fff;
  background-color: #0275d8;
  width: auto;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#works .imgArea .imgBox {
  margin-bottom: 30px;
}

/* ==============
      Skills
  ============= */
#skills {
  background-color: #1F2029;
  box-sizing: content-box;
}

#skills .container .icons {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-color: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  color: #1DA9A2;
  font-size: 5rem;
  line-height: 2em;
  margin: 0;
}

#skills .container .skillName {
  font-weight: bold;
  color: #fff;
  font-size: 1.3rem;
  margin: 15px 0 20px;
}

#skills .container .description {
  color: #fff;
  text-align: left;
}

/* ==============
    Recources
   ============= */
#resouces a {
  color: #4d4d4d;
}

#resouces a:hover, #resouces a:active, #resouces a:focus {
  color: gray;
}

#resouces a .resourceName {
  font-size: 1.5rem;
}

/* ==============
      Profile
  ============= */
#profile {
  background-color: #1F2029;
  color: #fff;
}

@media screen and (max-width: 600px) {
  #profile .container {
    text-align: center;
  }
}

#profile .container .sectionTitle {
  text-align: left;
  color: #1DA9A2;
}

@media screen and (max-width: 600px) {
  #profile .container .sectionTitle {
    text-align: center;
  }
}

#profile .container .icons li {
  text-align: center;
}

/* ==============
      Contact
  ============= */
#contact {
  text-align: center;
  padding-bottom: 3% !important;
}

#contact .greetingText {
  font-size: 1.2rem;
  margin-bottom: 3%;
}

#contact .contactButton {
  display: block;
  width: 280px;
  margin: auto;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 1.8rem;
  background-color: #1DA9A2;
  border-radius: 15px;
}

/* ==============
      Footer
  ============= */
/*
======================================================================
Project Name    : My Portfolio
File Name       : _footer.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/* ==============
      Footer
  ============= */
#footer {
  text-align: center;
  background-color: #1F2029;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 10px;
}

#footer a {
  color: #fff;
}

#footer a:hover, #footer a:active, #footer a:focus {
  color: white;
}
