/*
======================================================================
Project Name    : My Portfolio
File Name       : app_detail.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/

@import "variables";
@import "mixin";
@import "keyframes_mixin";

/* ==============
    Animations
  ============= */
@include keyframes(slideInBottom) {
  0% {
    opacity: 0;
    transform: translate3d(0, 60%, 0)
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.animation.active {
  @include animation(slideInBottom 1.2s ease 0.15s);

  @include max-screen($breakpMobileLand-max) {
    @include animation(slideInBottom 0.85s ease 0.15s);
  }
}

@for $count from 1 through 4 {
  .appScreenshots .animation.active:nth-child(#{$count}) {
    @include animation(slideInBottom 1.2s ease 0.15s * $count);

    @include max-screen($breakpMobileLand-max) {
      @include animation(slideInBottom 0.85s ease 0.15s);
    }
  }
}

/* ==============
     Base / Common
  ============= */

.mainArea {
  padding-top: 90px;
  padding-bottom: 90px;
  @include max-screen($breakpMobileLand-max) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.contentSection {
  padding-bottom: 70px;
  @include max-screen($breakpMobileLand-max) {
    padding-bottom: 40px;
  }
}
/* ==============
     Header
  ============= */
@import "_nav";

#header {
  background-color: $baseColor;
  padding: 10% 0 3% 0;
  @include max-screen($breakpMobileLand-max) {
    padding: 20% 0 5% 0;
  }
  .appName {
    color: $codingGreen;
    font-size: 3rem;
  }
  .appInfo {
    .infoCol {
      @include max-screen($breakpMobileLand-max) {
        margin-bottom: 1rem;
      }
      p {
        color: $colorPlainText;
        @include max-screen($breakpMobileLand-max) {
          margin: 0;
        }
      }
    }
  }
}

/* ==============
     Body
  ============= */
.appScreenshots {
  margin-bottom: 30px;
  @include max-screen($breakpMobileLand-max) {
    text-align: center;
  }
  .appScreenshotImg {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    @include max-screen($breakpMobileLand-max) {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    img {
      @include max-screen($breakpMobileLand-max) {
        max-width: 280px;
      }
    }
  }
}

.col-md-12.appScreenshotImg {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.detailText {
  background-color: $colorLightGray;
  padding: 20px;
}

#summary {
  .detailText {
    text-align: center;
    p {
      margin: 0;
    }
    a {
      @include linkColor($codingGreen);
    }
  }
}

/* ==============
     Marketing
  ============= */
#marketingButtons {
  text-align: center;
  a {
    color: $colorWhite;
    &:hover {
      opacity: 0.7;
      transition: all 0.3s;
    }
  }
  .githubArea {
    margin-bottom: 10px;
    .githubButton {
      display: inline-block;
      line-height: 30px;
      text-align: center;
      padding: 15px 15px;
      background-color: $githubGrayDark;
      width: 180px;
      border-radius: 10px;
      font-size: 1.1rem;
      i {
        margin-right: 7px;
      }
    }
  }
  .appStoreArea {
    .appStoreButton {
      display: inline-block;
      #appStoreButtonImg {
        width: 180px;
      }
      #appStoreButtonImg.google {
        width: 208px;
      }
    }
  }
}

/* ==============
     Footer
  ============= */
@import "_footer";
